body{
    margin:0;
}
.topnav {
    overflow: hidden;
    background-color: rgb(252, 205, 37);
    padding:0px;
    margin: 0px;;
  }

  .topnav ul{
    float:right;
    list-style-type: none;
  
    padding: 14px 16px;
  }
  .topnav li{
    display:inline-block;
    padding: 14px 16px;
  }
  
  .topnav .search-bar{
   
    margin: 0;
    padding: 14px;
  }
  .button {
    box-shadow: inset 0 1px 0 0 #ffffff;
    background: #ffffff linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    outline: 0;
}
 